examples/n8n_example_workflow.json
{
  "name": "Webhook based chat with history retrieval",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful agent."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -340,
        -180
      ],
      "id": "b302d1f4-b9af-45b2-8d2c-132afb349255",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude 4 sonnet",
          "mode": "list",
          "cachedResultName": "claude 4 sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -360,
        360
      ],
      "id": "3291d12d-beaf-4421-b08a-dd46342d44b6",
      "name": "Claude 4 Sonnet",
      "credentials": {
        "openAiApi": {
          "id": "tCoSfqL8ytjH1cff",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -200,
        360
      ],
      "id": "714fe602-9424-4a8e-9ea2-5f831990c0e5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ed12105b-3e46-4a2d-8807-f2c7d04883e1",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1240,
        -180
      ],
      "id": "4362d127-5f50-4823-8d78-afc3dc931601",
      "name": "Chat Message Received",
      "webhookId": "ed12105b-3e46-4a2d-8807-f2c7d04883e1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b8358f47-09c6-4959-8049-de2785318ab0",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1240,
        40
      ],
      "id": "d0a3dad1-67ce-4252-897e-19f1e608e2d3",
      "name": "Get Message History",
      "webhookId": "b8358f47-09c6-4959-8049-de2785318ab0"
    },
    {
      "parameters": {
        "options": {
          "groupMessages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -880,
        40
      ],
      "id": "20808db3-71be-4ba0-9d34-33824ae5c65c",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "088e8422-d23b-4ae8-a867-9052e1539b95",
              "name": "chatInput",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "f618db68-74e1-48da-b76e-0f5cec00067a",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -180
      ],
      "id": "e6b3a7ef-d22c-4b49-b144-3b3d30bf6c12",
      "name": " Extract chatInput and sessionId"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f618db68-74e1-48da-b76e-0f5cec00067a",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        40
      ],
      "id": "fd21663d-3458-469f-afdc-707c037e7dcb",
      "name": " Extract sessionId"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7da2dcd-e76b-4ef1-a999-5ef95cbf74c3",
              "name": "reply",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -180
      ],
      "id": "4e778a3a-a579-4d9f-b08a-41e3da494d16",
      "name": "Set reply field on response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "424cd730-909b-426d-8962-6f02a4ae7ff8",
              "name": "messageHistory",
              "value": "={{ $json.messages }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        40
      ],
      "id": "33fbf7e7-5ee2-46a9-a1e6-cae365ac0bca",
      "name": "Set messages field on response"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1240,
        -380
      ],
      "id": "83a17455-8b2b-4db8-ad78-61489e48f354",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "sessionId"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1040,
        -380
      ],
      "id": "4b3c88d7-999d-4c0e-be40-e36a0c6e09bd",
      "name": "Crypto"
    },
    {
      "parameters": {
        "mode": "insert",
        "insertMode": "override",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "Hi there, I'm here to help. What challenges are you facing?"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -780,
        -380
      ],
      "id": "9913b4c9-f495-4fdc-b070-ccac8ad3a6f0",
      "name": "Set initial agent message"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set reply field on response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4 Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Set initial agent message",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Message Received": {
      "main": [
        [
          {
            "node": " Extract chatInput and sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message History": {
      "main": [
        [
          {
            "node": " Extract sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Set messages field on response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Extract chatInput and sessionId": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Extract sessionId": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set reply field on response": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Set initial agent message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set initial agent message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "912df559-8985-4416-9f6d-4b735c0dc196",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc256310bdc2e1253a6e5d9d026b3ade504515bf6af7bc51e89b7e424e7089a1"
  },
  "id": "pgzlFP0mZWnqJRdV",
  "tags": []
}